<h1>Posts</h1>
<div id="posts-navigator">
	<div id="filter-container">
		<input id="tb-filter-user" type="text" placeholder="By user posted">
		<input id="tb-filter-pattern" type="text" placeholder="By pattern">
		<button id="btn-filter-posts">Filter</button>
	</div>
</div>
<span>Page size</span>
<select id="page-size">
	<option value="2">2</option>
	<option value="4">4</option>
	<option value="6">6</option>
</select>
<span>Page number</span>
<select id="page-number">
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
</select>
<div id="posts-container">
	{{#each this}}
	<div class="post-box">
		<h2>ID: {{this.id}}</h2>
		<h2>Posted on: {{this.postDate}} by {{this.user.username}}(id: {{this.user.id}})</h2>
		<h2>Title: {{this.title}}</h2>
		<p>{{this.body}}</p>
	</div>
	{{/each}}

	<div id="page-numbers">
		
	</div>
</div>