<div class="panel-group">
	<div class="cookie-container panel panel-default">
		<div class="panel-heading">
			<h2 id="tb-category">Category: {{category}}</h2>
		</div>
		<div class="img-container">
			<img src="{{img}}" alt="" id="img">
		</div>
		<div class="panel-body">
			<p>Likes: {{likes}}</p>
			<p>Dislikes: {{dislikes}}</p>
			<p>Hours: {{hours}}</p>
			<p>Share Date: {{shareDateFormatted}}</p>
			<p id="tb-text">Text: {{text}}</p>
			<div>
				<button class="btn-reshare btn btn.primary" data-id="{{id}}">Reshare</button>
			</div>
		</div>		
	</div>
</div>