<h1>{{title}}</h1>
<h2>ID:{{id}}</h2>
<h3>Posted on {{postDate}}</h3>
<h3>User:</h3>
<h3>Username: {{user.username}}</h3>
<h3>User ID: {{user.id}}</h3>
<div id="add-message-container">
	<input id="tb-message" type="text" placeholder="Message text">
	<button id="btn-send">Send</button>
</div>